:global(.bm-overlay) {
  @media only screen and (min-width: 1000px) {
    width: 50% !important;
    margin: 0 !important;
  }
}

:global(.bm-menu-wrap) {
  margin-top: 4em;
  @media only screen and (min-width: 1600px) {
    width: 45% !important;
    margin-top: 5em;
  }
  @media only screen and (min-width: 800px) {
    width: 40% !important;
    margin-top: 5em;
  }
}

:global(.bm-icon) {
  @media all and (min-width: 0px) and (max-width: 700px) {
    width: 3rem !important;
    padding: 1em;
  }
  @media all and (min-width: 414px) and (max-width: 700px) {
    width: 3.6rem !important;
    padding: 1em;
  }
  @media only screen and (min-width: 700px) {
    width: 4rem !important;
    padding: 1.8em;
  }
  @media only screen and (min-width: 1600px) {
    width: 5rem !important;
    padding: 1.8em;
  }
}

:global(.bm-overlay) {
  background: rgba(21, 43, 50, 0.7) !important;
}

:global ul {
  padding: 0;
  list-style: none;
}